extends layout

block content

  .maintext
    h2.centered About this website

    br
    br
    
    p This website was created as part of the final Lab for my Introduction to Design Thinking online class offered through Microsoft as part of the Microsoft Professional Program in Entry Level Software Development. The website is only meant as a prototype for an application that would allow users to purchase movie tickets online, and then give helpful suggestions for good restaurants near the movie theater, and even allow users to reserve seats for those restaurants right from the Movie Theater website. 

    p I came up with the application idea after observing customers in the problem space related to “helping millennial couples plan better dates in Columbus”. I observed millennials plan dates, and held a few user interviews as part of prior lab assignments related to the course. From the observations and user interviews I learned that some people find it time consuming to plan dinner and movie dates because they have to coordinate the dinner reservation with the movie time. This often results in having to go to multiple websites, and is slightly more time consuming than if you could both purchase a movie ticket, and make a dinner reservation on the same website.